################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pet-Care-Organizer/.vs/ProjectEvaluation/pet-care-organizer.strings.v9.bin
/Pet-Care-Organizer/.vs/ProjectEvaluation/pet-care-organizer.projects.v9.bin
/Pet-Care-Organizer/.vs/ProjectEvaluation/pet-care-organizer.metadata.v9.bin
