@{
    ViewData["Title"] = "New Daily Task";
}
@model DailyTasks

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control custom-focus" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StatusId" class="form-label">Status:</label>
            <select asp-for="StatusId" class="form-select custom-focus"
                    asp-items="@(new SelectList(ViewBag.StatusOptions, "StatusId", "Name"))">
                <option value="">Select Status</option>
            </select>
        </div>
        <button type="submit" class="btn btn-purple">Create</button>
    </form>
</div>